@import 'base';
@import '../components/test-button/index';

.main-container {
  height: 100%;
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}

// page
// button-wrap
// roulette-wrap
.roulette-wrap {
  background-color: green;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
