.button-wrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 10px;
}
.buttons {
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.test-button {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #f2f4f6;
  color: #1a1e27;
  overflow: hidden;
  &[data-size='s'] {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 3px 8px;
  }
  &[data-size='m'] {
    width: 38px;
    padding: 10px 20px;
  }
  &[data-size='l'] {
    width: 64px;
    padding: 12px 24px;
  }
  &[data-size='xl'] {
    width: 64px;
    padding: 12px 24px;
  }
  &[data-size='xxl'] {
    width: 100%;
    padding: 12px 24px;
  }
  &[data-intent='primary'] {
    background-color: #5d44da;
    color: #fff;
  }
  &[data-intent='secondary'] {
    background-color: #f2f4f6;
    color: #1a1e27;
  }
  &[data-intent='destructive'] {
    background-color: #ff2c51;
    color: #fff;
  }
  &[data-disabled='true'],
  &[disabled] {
    background-color: #f2f4f6;
    color: #b1b8c0;
  }
}
